@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --orange: #FC7615;
  --midBlue: #22303D;
  --lightBlue: #7C8897;
  --darkBlue: #131518;

  --textColor: #878D96;
  --lighterTextColor: #ffffff;

  --font: 'Overpass', sans-serif;
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--darkBlue);
  line-height: 1.6;
  font-size: 14px;
  color: var(--textColor);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--lighterTextColor);
  margin: 30px 0 10px;
  line-height: 1.2;
}

button, 
fieldset,
input {
  padding: 0;
  margin: 0;
  border: none;
}

svg {
  max-width: 100%;
}

.page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.card {
  background-image: linear-gradient(to bottom, #20262F 0%, #181E27 50%);
  padding: 30px;
  border-radius: 30px;
  max-width: 375px;
  height: max-content;
  min-height: 390px;
}

/* ----- Selection View ----- */

.card-icon {
  display: inline-flex;
  border-radius: 50%;
  background-color: var(--midBlue);
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
}

.rating-list {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
}

@media (min-width: 360px) {
  .rating-list {
    justify-content: space-between;
  }
}

.rating-list-item span {
  display: inline-flex;
  border-radius: 50%;
  background-color: var(--midBlue);
  transition: background-color 0.3s ease;
  font-size: 15px;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rating-list-item span.selected {
  background-color: var(--lightBlue);
  color: var(--lighterTextColor);
}
.rating-list-item span:hover {
  background-color: var(--orange);
  color: var(--lighterTextColor);
}

.rating-list-item input {
  display: none;
}

.btn-primary {
  display: inline-flex;
  border-radius: 20px;
  background-color: var(--orange);
  transition: background-color 0.3s ease;
  color: var(--lighterTextColor);
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: var(--lighterTextColor);
  color: var(--orange);
}

/* ----- Result View ----- */

.result-view.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-result {
  display: inline-block;
  padding: 8px 15px 6px;
  border-radius: 15px;
  margin-top: 25px;
  background-color: var(--midBlue);
  color: var(--orange);
  line-height: 1.2;
}